@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #3b3737;
    --lightTwo: #black;
}

.dark {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #192e3a;
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
}

/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
/* .stop-scrolling {
    height: 100%;
    overflow: hidden;
} */
img {
    width: 100%;
}

.container {
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    display: none;
}

.logo-1 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-1 img {
    width: 100px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-1 p {
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.links a {
    color: var(--lightTwo);
    margin-left: 1.5rem;
    display: inline-block;
    transition: 0.3s;
}

.links a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
}

.btn-masuk {
    display: inline-block;
    padding: 0.9rem 1rem;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn-masuks :hover {
    background-color: var(--hoverColor);
    transform: scale(1) !important;
}
/* 
.hamburger-menu {
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger-menu .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
} */

/* .bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
} */

/* .bar::before {
    transform: translateY(-8px);
}

.bar::after {
    transform: translateY(8px);
} */

/* .big-wrapper.active .hamburger-menu .bar {
    background-color: transparent;
} */
/* 
.big-wrapper.active .bar::before {
    transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
    transform: translateY(0) rotate(45deg);
} */
/* 
.toggle-btn {
    display: inline-block;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
} */

.toggle-btn i {
    line-height: 39px;
}

.bg-hover1 {
    background-color: rgba(93, 91, 65, 0.68);
    color: white;
}

.toggle-btn:hover {
    background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
    display: none;
}

/* .shape {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
} */

/* .copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
} */

@keyframes appear {
    0% {
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 870px) {
    .logo-1 p {
        font-size: 1.25rem;
    }
    .btn-masuk {
        display: inline-block;
        padding: 0.9rem 1rem;
        color: #fff !important;
        background-color: var(--mainColor);
        border-radius: 16px;
        text-transform: capitalize;
        transition: 0.3s;
    }
}

@media screen and (max-width: 570px) {
    .logo-1 p {
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
    }
    .btn-masuk {
        display: inline-block;
        padding: 0.9rem 1rem;
        color: #fff !important;
        background-color: var(--mainColor);
        border-radius: 16px;
        text-transform: capitalize;
        transition: 0.3s;
    }
}
